  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <h2>User info</h2>
        <%= form_for(@user) do |f| %>
            <p>name</p><%= f.text_field :name, autofocus: true %>
            <p>image</p><%= f.attachment_field :profile_image %>
            <p>introduction</p><%= f.text_area :introduction %>
            <%= f.submit "Update User"%>
        <% end %>
      </div>
    </div>
  </div>

<!--         <%= form_for(@user) do |f| %>
            <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%>
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
            <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
            <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
        <% end %> -->