<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <%= link_to"削除",destroy_user_session_path, method: :delete %>

  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <h2>User info</h2>
        <img src="#">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td>name</td>
                <td><%= @user.name %></td>
              </tr>
              <tr>
                <td>intro</td>
                <td><%= @user.introduction %></td>0
              </tr>
            </tbody>
          </table>
          <p><%= link_to "編集", edit_user_path(@user) %></p>
        </div>

        <h2>New book</h2>
        <!-- <form> -->
        <%= form_for (@book) do |f| %>
            <div class="form-group">
            <label for="title">title:</label>
            <input type="f.title" class="form-control" id="title" placeholder="Enter title">
          </div>
          <div class="form-group">
            <label for="pwd">opinion:</label>
            <input type="f.body" class="form-control" id="opi" placeholder="Enter opinion">
          </div>
          <div class="checkbox">
          </div>
          <button type="submit" class="btn btn-default">create book</button>
         <% end %>
        <!-- </form> -->
        </div>

      <div class="col-xs-9">
        <% @books.each do |book| %>
       <h2>Basic Table</h2>
        <table class="table">
          <thead>
            <tr>
              <th>###</th>
              <th>title</th>
              <th>opinion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>"""</td>
              <td><%= book.title %></td>
              <td><%= book.body %></td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</body>
